<%- include("partials/head.ejs") %>
<%- include("partials/header.ejs") %>

    <hr>
        <h1 class="page-title"><%= about %></h1>
    <hr>

    <main id="get-container">
        <div id="products-container">
            <ul id="products-list">

                <% products.forEach(prod => { %>

                    <li class="product-item">
                            <img src="<%= prod.image %> " alt="<%= prod.name %>" class="product-img">
                            <p>ID: <%= prod.id %> / <%= prod.product_type %> <%= prod.quality %> <%= prod.desc_text %> N°<%= prod.desc_number %> / <strong>Precio: $<%= prod.price %></strong><%= prod.active ? " / [Activo]" : " / [Inactivo]" %></p>
                            <% if(!prod.active) { %>
                                <input type="button" class="form-button form-component" id="activate-product-btn" value="Activar Producto">
                            <% } %> 
                    </li>

                <% }) %>

            </ul>
        </div>
    </main>

    <script>
        document.getElementById("activate-product-btn").addEventListener("click", async () => {
            let confirmation = confirm("¿Quiere activar este producto?");

            if(!confirmation) {
                alert("Acción cancelada.");

            } else {

                let response = await fetch(`${baseUrl}/products/<%= prod.id %>`, { 
                    method: "PATCH"
                });
                
                let result = await response.json();

                if(response.ok) {
                    alert(result.message);
                    return true;
                } else {
                    console.error("Error: ", result.message);
                    return false;
                }
            }
        });
    </script>

<%- include("partials/footer.ejs") %>